@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.header {
  background-color: #fff;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.6);
  box-shadow: 0 0 3px rgba(0,0,0,.6);
  padding: 15px 30px;
}
.title-card {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: black;
}
.imgMovie {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.card-movie {
  margin-top: 30px;
}
.white-card {
  background-color: #fff;
  padding: 30px;
  border-bottom: 3px solid #007bff;
}
p {
  margin: 0;
}.desc-card {
  overflow: hidden;
  max-height: 90px;
  font-size: 15px;
}
.tile-card {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 15px;
  color: #007bff;
}
.subtitle-card {
  margin-bottom: 10px;
  font-size: 17px;
}
.rat-card {
  display: inline-block;
  color: #fff;
}
.add-movie {
  margin: 20px auto;
  display: block !important;
}
.modal-movie .modal-content {
  padding: 30px;
}
.modal-movie .modal-content input {
  border: 1px solid #ccc;
  padding: 10px 15px;
}
.col-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.modal-title {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 15px;
  color: #007bff;
}